@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  /* color */
  --color-primary: #4ea9a2;
  --color-secondary: #00ff4c1a;
  --color-dark-yellow: #ffe082;
  --color-light-yellow: #fff9e6;
  --color-dark-blue: #5badff;
  --color-light-blue: #c7e3ff;
  --color-light-purple: #f0f4ff;
  --color-dark-purple: #6b5aed;
  --color-light-green: #6ae6dd;
  --color-warning: #f2a134;
  --color-sec-dark-blue: #3b9dff;
  --color-light-orange: #faba26;
  --color-dark-orange: #f97316;
  --shadow-card: 0px 1px 4px 0px #00000040;
  --shadow-button: 10px 10px 20px 0px #0000001a;
  --shadow-input: 1px solid #0000004d;

  /* font family */
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  /* font size */
  --text-h1: 24px;
  --text-h2: 20px;
  --text-h3: 16px;
  --text-h4: 14px;
  --text-h5: 12px;
  --text-h6: 10px;
  --text-h7: 8px;
}
